.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  .tags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }
  .video_respons {
    background-image: url("../../../../../public/videos.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    min-height: 652px;
    width: 100%;
  }
  .category_tag {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }
}
